{% load static %}
    <!-- Footer Start -->
    <div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="mt-n2 text-uppercase text-white"><i class="fa fa-book-reader mr-3"></i>ZCourse</h1>
                    </a>
                    <p class="m-0">Öğrenmek ya da bildiklerinizi paylaşmak istiyorsanız doğru yere geldiniz.Çevrimiçi öğrenim için küresel bir varış noktası olarak, insanları bilgi aracılığıyla birbirine bağlıyoruz.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Bilgilerimiz</h3>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>Bilişim Vadisi, İdari Kule Kat:2 Gebze/Kocaeli</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+90 262 049 49</p>
                    <p><i class="fa fa-envelope mr-2"></i>kurumsal@zcourse.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-twitter"></i></a>
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-facebook-f"></i></a>
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-linkedin-in"></i></a>
                        <a class="text-white" href="#"><i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Kurslar</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="/category/13/kisisel-gelisim/"><i class="fa fa-angle-right mr-2"></i>Kişisel Gelişim</a>
                        <a class="text-white-50 mb-2" href="/course/8/python/"><i class="fa fa-angle-right mr-2"></i>Python</a>
                        <a class="text-white-50 mb-2" href="/course/7/web/"><i class="fa fa-angle-right mr-2"></i>Web Geliştirme</a>
                        <a class="text-white-50 mb-2" href="/course/6/pazarlama/"><i class="fa fa-angle-right mr-2"></i>Pazarlama</a>
                        <a class="text-white-50" href="/course/9/cpp/"><i class="fa fa-angle-right mr-2"></i>C++</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Quick Links</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="/hakkimizda"><i class="fa fa-angle-right mr-2"></i>Hakkımızda</a>
                        <a class="text-white-50 mb-2" href="/referanslar"><i class="fa fa-angle-right mr-2"></i>Referanslar</a>
                        <a class="text-white-50 mb-2" href="/sss"><i class="fa fa-angle-right mr-2"></i>Sıkça Sorulan Sorular</a>
                        <a class="text-white-50" href="/iletisim"><i class="fa fa-angle-right mr-2"></i>İletişim</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white-50 border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0">Telif Hakkı &copy; <a class="text-white" href="#">ZCourse</a>. Her hakkı saklıdır.
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p class="m-0">Tarafından tasarlandı <a class="text-white" href="https://htmlcodex.com">ZCOURSE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
<!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js'"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{%static 'js/main.js'%}"></script>
