
{% extends "homebase.html" %}

{% block title %}{{ setting.title }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block head %}
<link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">
{% endblock %}
{% block content %}
    {% include "content.html"%}
{% endblock %}
{% block about %}
    {% include "about.html"%}
{% endblock %}
{% block choose %}
    {% include "choose.html"%}
{% endblock %}

{% block course %}
    {% include "course.html"%}
{% endblock %}

{% block team %}
    {% include "team.html"%}
{% endblock %}
{% block testimonial %}
    {% include "testimonial.html"%}
{% endblock %}
{% block contact %}
    {% include "contact.html"%}
{% endblock %}
{% block detail %}
    {% include "detail.html"%}
{% endblock %}

