{% load static %}
<!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="section-title text-center position-relative mb-5">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">EĞİTMENLER</h6>
                <h1 class="display-4">Eğitmenlerimizle Tanışın</h1>
            </div>
            <div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>

	<div id="teachers" class="section wb">
        <div class="container">
            <div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="{% static 'img/team-01.png' %}">
							<h3 class="title">Pınar Aslan</h3>
							<span class="post">Software Developer</span>
                            <div> &nbsp&nbsp&nbsp </div>
						</div>
					</div>
				</div>


				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="{% static 'img/team-02.png' %}">
							<h3 class="title">Başak Kaya</h3>
							<span class="post">Kişisel Gelişim Uzmanı</span>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="{% static 'img/team-03.png' %}">
							<h3 class="title">Selim Şatıroğlu</h3>
							<span class="post">Pazarlama ve Analiz Uzmanı</span>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="{% static 'img/team-04.png' %}">
							<h3 class="title">Zeynep Sönmez</h3>
							<span class="post">Software Developer</span>
						</div>
					</div>
				</div>


				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img style="width: 260px; height:330px"src="{% static 'img/team-1.jpg' %}">
							<h3 class="title">Defne Çelik</h3>
							<span class="post">Web Developer</span>
						</div>
					</div>
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!
     <!-- ALL JS FILES -->
        </div>
    </div>
    <!-- Team End -->
