{% load static %}
<!-- Testimonial Start -->
    <div class="container-fluid bg-image py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Referans</h6>
                        <h1 class="display-4">Öğrencilerimiz Ne Diyor?</h1>
                    </div>
                    <p class="m-0">Temel amacımız vermiş olduğumuz dersler ile nitelikli bireyler yetiştirmektir.Bu amaçlar doğrultusunda öğrencilerimizin iyi dönütlerini almak bizleri sevindiriyor. </p>
                </div>
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>Ücretsiz derslerini deneyip, paramı ayırıp bir adet web geliştirme dersi almayı planladığım site. hem türkler kurmuş paramız da nispeten türklere gidiyor. Hadi bakalım.</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="{% static 'img/testimonial-2.jpg' %}" alt="">
                                <div>
                                    <h5>Emre Kaya</h5>
                                    <span>Sıfırdan İleri Düzey Web Geliştirme</span>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p> Büyük heveslerle kayıt olduğum site. dersler mükemmel gözüküyor, dersleri dinlemek için sabırsızlanıyorum.</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="{% static 'img/testimonial-1.jpg' %}" alt="">
                                <div>
                                    <h5>Nazlı Şahin</h5>
                                    <span>Sıfırdan İleri Seviye Python Programlama</span>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p> Temel olarak C++ diline hakim değildim endişelerim vardı. Ancak hocamızın anlatımıyla karmaşık uygulamarla pratik yaparak kendimi oldukça geliştirdiğimi söyleyebilirim.Teşekkürler ZCourse!</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="{% static 'img/testimonial-3.jpg' %}" alt="">
                                <div>
                                    <h5>Hatice Yıldırım</h5>
                                    <span>C++ |Sıfırdan Komple Uygulamalı Programlama</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Start -->

